In [25]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/vacation_hotels.csv")
vacation_df.head()

,City ID,City,Country,Max_Temp,Weather description,Lat,Lng,Hotel Name
0,2,Mahebourg,MU,79.25,broken clouds,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
1,7,Omboue,GA,78.19,few clouds,-1.5746,9.2618,Hotel Olako
2,13,Kutum,SD,82.20,clear sky,14.2000,24.6667,Dibbo areaمنطقة دبو
3,14,Arraial Do Cabo,BR,85.96,clear sky,-22.9661,-42.0278,Pousada Porto Praia
4,19,Butaritari,KI,81.59,scattered clouds,3.0707,172.7902,Isles Sunset Lodge

In [4]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
    <dl>
    <dt>Hotel Name</dt><dd>{Hotel Name}</dd>
    <dt>City</dt><dd>{City}</dd>
    <dt>Country</dt><dd>{Country}</dd>
    <dt>Max Temp</dt><dd>{Max_Temp} °F</dd>
    <dt>Weather Description</dt><dd>{Weather description}</dd>
    </dl>
    """
# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [5]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0,31.0), zoom_level = 1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)
# 4b. Display the figure
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [34]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City']== 'San Patricio']
vacation_end = vacation_df.loc[vacation_df['City']== 'San Patricio']
vacation_stop1 = vacation_df.loc[vacation_df['City']== 'Nava']
vacation_stop2 = vacation_df.loc[vacation_df['City']== 'Buckeye']
vacation_stop3 = vacation_df.loc[vacation_df['City']== 'Pahrump']
vacation_start

,City ID,City,Country,Max_Temp,Weather description,Lat,Lng,Hotel Name
202,722,San Patricio,US,87.89,overcast clouds,28.017,-97.5169,"Motel 6 Sinton, TX"

In [35]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = tuple(vacation_start[['Lat','Lng']].to_numpy()[0])
start

(28.017, -97.5169)

In [36]:
end = tuple(vacation_end[['Lat','Lng']].to_numpy()[0])
end

(28.017, -97.5169)

In [37]:
stop1 = tuple(vacation_stop1[['Lat','Lng']].to_numpy()[0])
stop1

(28.4167, -100.7667)

In [38]:
stop2 = tuple(vacation_stop2[['Lat','Lng']].to_numpy()[0])
stop2

(33.3703, -112.5838)

In [39]:
stop3 = tuple(vacation_stop3[['Lat','Lng']].to_numpy()[0])
stop3

(36.2083, -115.9839)

In [40]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
itinerary_layer_map = gmaps.directions_layer(start,end, waypoints =[stop1, stop2, stop3], travel_mode = "DRIVING")
fig.add_layer(itinerary_layer_map)
fig

Figure(layout=FigureLayout(height='420px'))

In [41]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_end,vacation_stop1,vacation_stop2,vacation_stop3]
                         ,ignore_index=True)
itinerary_df

,City ID,City,Country,Max_Temp,Weather description,Lat,Lng,Hotel Name
0,722,San Patricio,US,87.89,overcast clouds,28.0170,-97.5169,"Motel 6 Sinton, TX"
1,722,San Patricio,US,87.89,overcast clouds,28.0170,-97.5169,"Motel 6 Sinton, TX"
2,303,Nava,MX,81.99,overcast clouds,28.4167,-100.7667,Amor
3,585,Buckeye,US,84.29,clear sky,33.3703,-112.5838,Buckeye Motor Hotel
4,207,Pahrump,US,77.25,overcast clouds,36.2083,-115.9839,Best Western Pahrump Oasis

In [9]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
    <dl>
    <dt>Hotel Name</dt><dd>{Hotel Name}</dd>    
    <dt>City</dt><dd>{City}</dd>
    <dt>Country</dt><dd>{Country}</dd>
    <dt>Max Temp</dt><dd>{Max_Temp} °F</dd>
    <dt>Weather Description</dt><dd>{Weather description}</dd>
    </dl>
    """

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [42]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()
marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)

fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))